:root{
  --primary-color: #E6C744;
  --secondary-color: #FFFFFF;
  --text: #000000;
  --subtext: #7F7F7F;
  --primary-font: "Poppins";
  --button-color: #000000;
  --button-text: #FFFFFF;
}

html{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
ul, a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text);
}
.bttn{
  background-color: var(--button-color);
  color: var(--button-text);
  border: 0;
  border-radius: 5px;
}
#header-section{
  width: 100%;
  height: 980px;
  padding: 0;
}
@media screen and (min-width: 2834px) {
  #header-section{
    height: 1340px;
  }
}
@media screen and (min-width: 3779px) {
  #header-section{
    height: 1640px;
  }
}
@media screen and (min-width: 6299px) {
  #header-section{
    height: 2440px;
  }
}
#nav-bar{
  width: 100%;
  height: 10%;
  z-index: 1;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  padding-top: 10px;
}
#logo{
  display: flex;
  width: 30%;
  margin-left: 5%;
  font-family: var(--primary-font);
  font-size: 20px;
}
#logo img{
  width: 10%;
  height: 20%;
  padding-top: 38px;
}
#nav-list{
  height: 100%;
  margin-right: 5%;
  float: right;
  width: 60%;
  display: flex;
  justify-content: flex-end;
  font-family: var(--primary-font);
}
.nav-element{
  margin-top: 1%;
  margin-left: 10px;
  padding-left: 30px;
  padding-right: 10px;
  font-size: 25px;
}
.nav-element button{
  width: 135%;
  height:60%;
  margin-top:-15%;
  font-size: 20px;
}
@media screen and (min-width: 2834px) {
  .nav-element > button{
    height: 55%;
  }
}
@media screen and (min-width: 3779px) {
  .nav-element{  
    font-size: 40px;
  }
  .nav-element > button{
    height: 45%;
    font-size: 35px;
  }
  #logo{
    font-size: 35px;
  }
  #logo > img{
    padding-top: 48px;
    height: 30%;
  }
}
@media screen and (min-width: 6299px) {
  .nav-element{
    font-size: 70px;
    padding-top: 30px;
  }
  .nav-element > button{
    font-size: 55px;
  }
  #logo{
    font-size: 55px;
  }
}
@media screen and (max-width: 1575px) {
  .nav-element{
    font-size: 20px;
  }
}
#header-main{
  margin: 140px auto 5px auto;
  width: 90%;
  height: 90%;
  display: flex;
  background-color: #F4F6F5;
  border-radius: 3%;
}
#header-contents{
  width: 50%;
  margin: auto 0 auto 10%;
  font-family: var(--primary-font);
}
#header-contents > h1{
  font-size: 70px;
}
#header-contents > h3 {
  margin-bottom: 40px;
  font-size: 25px;
}
#header-contents > button{
  width: 25%;
  height: 70px;
  font-size: 30px;
}
@media screen and (min-width: 2834px) {
  #header-main{
    height: 90%;
    margin-top: 165px;
  }
  #header-contents > h1{
    font-size: 80px;
  }
  #header-contents > h3{
    font-size: 35px;
  }
}
@media screen and (max-width: 1575px){
  #header-contents > button {
    width: 30%;
  }
}
#header-img{
  width: 50%;
  height: 90%;
  margin: auto 10% auto 0;
  background-image: url("assets/img/star-bgr.png");
  background-size: 950px 800px;
  background-repeat: no-repeat;
  
}
@media screen and (min-width: 3779px) {
  #header-contents > h1{
    font-size: 100px;
  }
  #header-contents > h3{
    font-size: 45px;
  }
  #header-contents > button{
    width: 30%;
    height: 100px;
    font-size: 50px;
  }
  #header-img{
    background-size: 1400px 1220px;
  }
}
@media screen and (min-width: 6299px) {
  #header-main{
    margin-top: 300px;
  }
  #header-contents > h1{
    font-size: 160px;
  }
  #header-contents > h3{
    font-size: 85px;
  }
  #header-contents > button{
    font-size: 80px;
    height: 180px;
  }
  #header-img{
    background-size: 2100px 1920px;
  }
}
@media screen and (max-width: 1417.5px) {
   #header-contents > h1{
    font-size: 60px;
  }
  #header-contents > h3{
    font-size: 20px;
  }
  #header-contents > button{
    font-size: 20px;
    height: 60px;
  }
}
.white{
  background-color: white;
}
#yellow{
  background-color: #EBD96B;
}
.hdr-h1{
  width: 50%;
  margin-bottom: -15%;
  padding: 0 5% 0 1%;
  transform: rotate(-4deg);
}
.hdr-h1:first-child{
  width: 25%;
}
@media screen and (min-width: 2110px) {
  .hdr-h1{
    width: 40%;
  }
}
@media screen and (min-width: 2361px) {
  .hdr-h1{
    width: 35%;
    margin-bottom: -105px;
  }
}
@media screen and (min-width: 2834px) {
  .hdr-h1{
    width: 30%;
  } 
}
@media screen and (min-width: 6299px) {
  .hdr-h1{
    margin-bottom: -200px;
  }
}
.rotate{
  transform: rotate(4deg);
}
#sponsors{
  width: 100%;
  height: 186px;
  background-color: #EBD96B;
}
.sponsor-img{
  width: 5%;
  height: 35%;
  padding: 3% 5.5%;
}
@media screen and (min-width: 3779px) {
  #sponsors{
    height: 306px;
  }
}
@media screen and (min-width: 6299px) {
  #sponsors{
    height: 506px;
  }
}
@media screen and (max-width: 1417.5px) {
  #sponsors{
    height: 146px;
  } 
}
.NA-img{
  width: 484px;
  height: 704px;
  border-radius: 15px;
}
@media screen and (min-width: 2110px) {
  .NA-img{
    width: 544px;
  }
}
@media screen and (min-width: 2834px) {
  .NA-img{
    width: 644px;
    height: 804px;
  }
}
@media screen and (min-width: 3779px) {
  .NA-img{
    width: 844px;
    height: 1004px;
  }
}
@media screen and (min-width: 6299px) {
  .NA-img{
    width: 1444px;
    height: 1604px;
  }
}
@media screen and (max-width: 1733px){
  .NA-img{
    width: 454px;
    height: 634px;
  }
}
@media screen and (max-width: 1575px){
  .NA-img{
    width: 404px;
    height: 564px;
  } 
}
@media screen and (max-width: 1417.5px) {
  .NA-img{
    width: 364px;
    height: 464px;
  }
}
#new-arrivals{
  width: 90%;
  height: 1000px;
  margin: 3% auto;
}
#new-arrivals-title{
  width: 22%;
  font-family: var(--primary-font);
  font-size: 40px;
  margin-bottom: 4%;
  background-image: url("assets/img/yellow-leaf.png");
  background-repeat: no-repeat;
  background-size: 240px 60px;
  background-position: right bottom;
}
@media screen and (min-width: 2361px) {
  #new-arrivals-title{
    width: 18%;
  }
}
@media screen and (min-width: 2834px) {
  #new-arrivals{
    height: 1080px;
  }
  #new-arrivals-title{
    width: 16%;
  }
}
@media screen and (max-width: 1733px) {
  #new-arrivals-title{
    width: 25%;
  }
}
@media screen and (max-width: 1575px) {
  #new-arrivals-title{
    width: 28%;
  }
}
#new-arrivals-options{
  display: flex;
  flex-direction: row; 
}
@media screen and (min-width: 2361px) {
  #new-arrivals-options{
    padding-left: 5%;
  }
}
.new-arrivals-options{
  padding-right: 6%;
}
.NA-content{
  display: flex;
  flex-direction: row;
}
.NA-content > a {
  font-size: 40px;
  padding-top: 4%;
  color: var(--subtext);
}
.NA-description{
  width: 95%;
  font-family: var(--primary-font);
}
.NA-description > h3 {
  height: 4%;
  margin-top: 2%;
  font-size: 28px;
}
.NA-description > h6 {
  font-size: 20px;
  color: var(--subtext);
}
@media screen and (min-width: 3779px) {
  #new-arrivals{
    height: 1440px;
  }
  #new-arrivals-title{
    font-size: 65px;
    width: 18%;
  }
  .NA-content > a{
    font-size: 60px;
  }
  .NA-description > h3{
    font-size: 45px;
  }
  .NA-description > h6{
    font-size: 35px;
  }
}
@media screen and (min-width: 6299px) {
  #new-arrivals{
    height: 2240px;
  }
  #new-arrivals-title{
    font-size: 95px;
    background-size: 360px 90px;
    width: 15%;
  }
  .NA-content > a{
    font-size: 90px;
  }
  .NA-description > h3{
    font-size: 70px;
  }
  .NA-description > h6{
    font-size: 55px;
  }
}
#discount{
  display: flex;
  height: 968px;
  background: linear-gradient(40deg, yellow, #E0C744, var(--primary-color));
}
@media screen and (min-width: 2834px) {
  #discount{
    height: 1080px;
    padding-top: 40px;
  }
}
#discount-img{
  width: 50%;
  height: 90%;
  margin-top: 50px;
  padding-left: 200px;
}
#discount-img > img {
  background-image: url("assets/img/star-bgr.png");
  background-repeat: no-repeat;
  background-size: 800px 900px;
}
#sale{
  width: 50%;
  height: 80%;
  margin: 5% auto 5% auto;
  font-family: var(--primary-font);
  font-size: 20px;
}
#sale > h1{
  font-size: 100px;
}
#sale-h1{
  width: 45%;
  margin-bottom:  -160px;
}
@media screen and (min-width: 2834px) {
  #sale-h1{
    width: 38%;
  }
}
#sale h3{
  margin-top: -4%;
  font-size: 29px;
}
#sale p{
  font-weight: 900;
  font-size: 29px;
}
#sale > button {
  width: 26%;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
}
@media screen and (min-width: 2361px) {
  #discount-img{
    padding-left: 15%;
  }
}
@media screen and (min-width: 2834px) {
  #discount-img{
    padding-left: 20%;
  }
  #sale{
    padding-right: 140px;
  }
  #sale > p {
    margin-bottom: 5%;
  }
}
@media screen and (min-width: 3779px) {
  #discount{
    height: 1180px;
  }
  #discount-img{
    padding-top: 20px;
  }
  #sale{
    margin-top: 3%;
  }
  #sale > h1{
    font-size: 120px;
  }
  #sale > h3{
    font-size: 35px;
  }
  #sale > p{
    font-size: 35px;
  }
  #sale > button{
    font-size: 30px;
  }
}
@media screen and (min-width: 6299px) {
  #discount{
    height: 1880px;
  }
  #discount-img > img{
    height: 1640px;
    background-size: 1300px 1600px;
    margin-left: 16%;
  }
  #sale{
    margin-right: 16%;
  }
  #sale > h1 {
    font-size: 180px;
    margin-top: -10px;
  } 
  #sale > h3{
    font-size: 80px;
  }
  #sale > p{
    font-size: 80px;
  }
  #sale > button{
    font-size: 75px;
    height: 160px;
  }
}
@media screen and (max-width: 1733px){
  #discount-img{
    padding-left: 80px;
  }
  #sale{
    padding-left: 60px;
  }
  #sale-h1{
    width: 55%;
  }
}
@media screen and (max-width: 1575px){
  #discount-img{
    padding-left: 80px;
  }
  #sale{
    padding-left: 60px;
  }
  #sale-h1{
    width: 55%;
  }
}
@media screen and (max-width: 1417.5px) {
  #discount-img > img{
    height: 715px;
  } 
  #sale > h1{
    font-size: 80px;
  }
}
#favorite{
  width: 95%;
  height: 1000px;
  margin: 8% 4%;
}
.favorite-img{
  width: 834px;
  height: 575px;
  border-radius: 15px;
}
@media screen and (min-width: 2110px) {
  .favorite-img{
    width: 884px;
  }
}
@media screen and (min-width: 2834px) {
  .favorite-img{
    width:1084px;
    height: 665px;
  }
}
@media screen and (max-width: 1733px) {
  .favorite-img{
    width: 724px;
    height: 465px;
  }
}
@media screen and (max-width: 1575px) {
  .favorite-img{
    width: 664px;
    height: 405px;
  }
}
@media screen and (max-width: 1417.5px) {
  .favorite-img{
    width: 584px;
    height: 364px;
  } 
}
#favorite-option{
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 2361px) {
  #favorite-option{
    padding-left: 5%;
  }
}
.favorite-options{
  padding-right: 4%;
}
@media screen and (min-width: 3779px) {
  #favorite{
    height: 1440px;
  }
  .favorite-img{
    width: 1444px;
    height: 1005px;
  }
}
@media screen and (min-width: 6299px) {
  #favorite{
    height: 2280px;
  }
  .favorite-img{
    width: 2484px;
    height: 1665px;
  }
}
.dwl-app-img{
  width: 204px;
  height: 71px;
  margin: 0;
  padding: 0;
}
.dwl-app-img:last-child{
  width: 184px;
}
#app{
  width: 100%;
  height: 880px;
  font-family: var(--primary-font);
  display: flex;
}
#app-ad{
  margin: 5% auto 0 auto;
}
#app-ad > h1 {
  font-size: 40px;
}
#app-ad > p {
  font-size: 17px;
  color: var(--subtext);
}
#app-ad > div > a {
  margin-left: -15px;
}
#app > img {
  width: 50%;
  height: 740px;
}
@media screen and (min-width: 2834px) {
  #app {
    height: 980px;
  }
  #app-ad > h1{
    font-size: 60px;
  }
  #app-ad > p{
    font-size: 37px;
  }
  #app > img {
    height: 940px;
  }
  .dwl-app-img{
    height: 100px;
  }
  .dwl-app-img:last-child{
    width: 250px;
  }
}
@media screen and (min-width: 3779px) {
  #app{
    height: 1080px;
  }
  #app > img{
    height: 1040px;
  }
  .dwl-app-img{
    height: 120px;
  }
  .dwl-app-img:last-child{
    width: 300px;
  }
}
@media screen and (min-width: 6299px) {
  #app{
    height: 1640px;
  }
  #app-ad > h1{
    font-size: 100px;
  }
  #app-ad > p{
    font-size: 67px;
  }
  #app > img{
    height: 1660px;
  }
  .dwl-app-img{
    height: 200px;
  }
  .dwl-app-img:last-child{
    width: 540px;
  }
}
@media screen and (max-width: 1417.5px) {
  #app > img{
    height: 608px;
  } 
}
#join{
  width: 100%;
  height: 560px;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
}
#join-center {
  width: 50%;
  height: 60%;
  margin: auto;
  padding-top: 5%;
  padding-left: 2%;
  font-size: 30px;
  color: #FFF;
  text-align: center;
}
#join-center > div {
  background-color: var(--secondary-color);
  width: 33%;
  height: 10%;
  border-radius: 5px;
  margin-left: 35%;
  padding-top: -10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 2110px) {
  #join-center > div{
    width: 30%;
  }
}
@media screen and (min-width: 2361px) {
  #join-center > div{
    width: 26%;
  }
}
@media screen and (min-width: 2834px) {
  #join{
    height: 580px;
  }
  #join-center{
    height: 65%;
  }
  #join-center > div{
    width: 22%;
  }
}
@media screen and (max-width: 1733px) {
  #join-center > div{
    width: 35%;
  }
}
@media screen and (max-width: 1575px) {
  #join-center > div{
    width: 38%;
  }
}
#join-center > div > button{
  font-size: 25px;
}
#join-center > div > input{
  border: 0;
  font-size: 15px;
  padding-left: 10px;
}
@media screen and (min-width: 3779px) {
  #join{
 height: 680px;
  }
  #join-center{
    font-size: 35px;
  }
  #join-center > div{
    width: 25%;
    height: 12%;
    padding-top: 4px;
  }
  #join-center > div > button{
    font-size: 35px;
    margin-top: 4px;
  }
  #join-center > div > input{
    font-size: 25px;
  }
}
@media screen and (min-width: 6299px) {
  #join{
    height: 1140px;
  }
  #join-center{
    font-size: 65px;
  }
  #join-center > div{
    width: 27%;
  }
  #join-center > div > button{
    font-size: 65px;
  }
  #join-center > div > input{
    font-size: 45px;
  }
}
@media screen and (max-width: 1417.5px) {
  #join{
    height: 460px;
  }
  #join-center{
    font-size: 20px;
  }
  #join-center > div{
    width: 43%;
    height: 11%;   
  }
  #join-center > div > button {
    font-size: 24px;
    margin-top: 2px;
  }
}
footer{
  width: 100%;
  height: 545px;
  display: flex;
  background-color: #000000;
  color: #FFF;
  font-family: var(--primary-font);
  font-size: 25px;
}
@media screen and (max-width: 1575px) {
  footer{
    font-size: 20px;
  }
}
#icons{
  padding-top: 20px;
}
#icons > a {
  background-color: var(--primary-color);
  font-size: 24px;
  padding: 6px;
  border-radius: 10px;
}
footer > div {
  padding-top: 5%;
  padding-left: 4%;
}
.para{
  color: var(--subtext);
}
#brand{
  width: 18%;
  padding-top: 4%;
}
#company{
  margin-left: 30%;
}
@media screen and (min-width: 3779px) {
  footer{
    height: 645px;
    font-size: 35px;
}
  footer > div {
    padding-top: 3%;
  }
  #icons > a {
    font-size: 34px;
  }
}
@media screen and (min-width: 6299px) {
  footer{
    height: 1400px;
    font-size: 65px;
  }
  #icons > a{
    font-size: 85px;
  }
  .footer-h6{
    font-size: 55px;
  }
}
