:root{
  --primary-color: #E6C744;
  --secondary-color: #FFFFFF;
  --text: #000000;
  --subtext: #7F7F7F;
  --primary-font: "Poppins";
  --button-color: #000000;
  --button-text: #FFFFFF;
}

html{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
ul, a {
  text-decoration: none;
  list-style-type: none;
  color: var(--text);
}
.bttn{
  background-color: var(--button-color);
  color: var(--button-text);
  border: 0;
  border-radius: 5px;
}
.container {
    width: 1200px;
    margin: auto !important;
    display: block;
    max-width: 1000px;
}
#nav-bar{
  width: 95%;
  z-index: 1;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--secondary-color);
  padding: 10px 30px;
  justify-content: space-between;
  align-items: center;
}
#logo{
  display: flex;
  font-family: var(--primary-font);
  font-size: 20px;
  align-items: center;
  gap: 10px;
}
#logo img{
  width: 10%;
  height: 20%;
}
#nav-list{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-family: var(--primary-font);
  padding: 0;
  margin: 0;
  gap: 10px;
  font-size: 22px;
}
.nav-element{
  padding: 10px;
  display: flex;
  align-items: center;
}
.nav-element button{
  font-size: 20px;
  padding: 10px;
}
#header-main{
  margin: 110px auto;
  width: 90%;
  display: flex;
  background-color: #F4F6F5;
  border-radius: 3%;
}
#header-contents{
  display: flex;
  padding: 80px;
  flex-direction: column;
  font-family: var(--primary-font);
}
#header-contents > h1{
  font-size: 70px;
}
#header-contents > h3 {
  margin-bottom: 40px;
  font-size: 25px;
}
#header-contents > button{
  width: 50%;
  padding: 10px;
  font-size: 30px;
}
#header-img{
  width: 50%;
  padding: 20px;
  background-image: url("assets/img/star-bgr.png");
  background-size: 950px 800px;
  background-repeat: no-repeat;
  
}
.white{
  background-color: white;
}
#yellow{
  background-color: #EBD96B;
}
.hdr-h1{
  width: 76%;
  margin-bottom: -15%;
  padding: 0 5% 0 1%;
  transform: rotate(-4deg);
}
.hdr-h1:first-child{
  width: 50%;
}
.rotate{
  transform: rotate(4deg);
}
#sponsors{
  background-color: #EBD96B;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sponsor-img{
  width: 5%;
  height: 35%;
  padding: 3% 5.5%;
}
.NA-img{
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
  object-position: center;
}
#new-arrivals-title{
  width: 22%;
  font-family: var(--primary-font);
  font-size: 40px;
  margin-bottom: 4%;
  background-image: url("assets/img/yellow-leaf.png");
  background-repeat: no-repeat;
  background-size: 240px 60px;
  background-position: right bottom;
}
#new-arrivals-options{
  display: flex;
  gap: 6%;
  padding: 0 0 30px 0;
}
.new-arrivals-options{
  flex: 1 1 33%;
}
.NA-content{
  display: flex;
  flex-direction: row;
}
.NA-content > a {
  font-size: 40px;
  padding-top: 4%;
  color: var(--subtext);
}
.NA-description{
  width: 95%;
  font-family: var(--primary-font);
}
.NA-description > h3 {
  margin: 0;
  font-size: 28px;
}
.NA-description > h6 {
  margin: 0;
  font-size: 20px;
  color: var(--subtext);
}
#discount{
  display: flex;
  background: linear-gradient(40deg, yellow, #E0C744, var(--primary-color));
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#discount-img > img {
  background-image: url("assets/img/star-bgr.png");
  background-repeat: no-repeat;
  background-size: 800px 900px;
}
#sale{
  font-family: var(--primary-font);
  font-size: 20px;
  margin: 50px 0;
}
#sale > h1{
  font-size: 100px;
}
#sale-h1{
  width: 70%;
  margin-bottom:  -160px;
}
#sale h3{
  margin-top: -4%;
  font-size: 29px;
}
#sale p{
  font-weight: 900;
  font-size: 29px;
}
#sale > button {
  height: 80px;
  font-size: 25px;
  font-weight: bold;
}
#favorite{
  display: flex;
  flex-direction: column;
  padding: 50px;
}
#favorite-option{
  display: flex;
  gap: 20px;
  padding: 60px 0;
  justify-content: center;
  flex-wrap: wrap;
}
.dwl-app-img{
  width: 204px;
  height: 71px;
  margin: 0;
  padding: 0;
}
.dwl-app-img:last-child{
  width: 184px;
}
#app{
  font-family: var(--primary-font);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
#app-ad > h1 {
  font-size: 40px;
}
#app-ad > p {
  font-size: 17px;
  color: var(--subtext);
}
#app-ad > div > a {
  margin-left: -15px;
}
#join{
  height: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
}
#join-center {
  font-size: 30px;
  color: #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#join-center > div {
  background-color: var(--secondary-color);
  width: 33%;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
#join-center > div > button{
  font-size: 25px;
}
#join-center > div > input{
  width: 100%;
  border: 0;
  font-size: 15px;
  padding: 10px;
}
footer{
  display: flex;
  background-color: #000000;
  color: #FFF;
  font-family: var(--primary-font);
  font-size: 25px;
  justify-content: space-between;
}
#icons{
  padding-top: 20px;
}
#icons > a {
  background-color: var(--primary-color);
  font-size: 24px;
  padding: 6px;
  border-radius: 10px;
}
footer > div {
  padding-top: 5%;
  padding-left: 4%;
}
.para{
  color: var(--subtext);
}
.about{
  display: flex;
  gap: 30px;
}
#brand{
  width: 20%;
}
